<div data-state-options="@StateElement.Conf().IsGroupRoot().UseGroupId(Id).InheritGroupState().UseParentGroupId(ParentGroupId).Compile()">
    @if (CascadeAs != null)
    {
        <CascadingValue Name="@CascadeAs" Value="this">
            @ChildContent
        </CascadingValue>
    }
    else
    {
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    }
</div>